---
import { ViewTransitions } from "astro:transitions"
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" transition:animate="slide">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-[#f3e6d8]">
    <slot />
    <style is:global>
      html {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        font-style: normal;
      }

      ul {
        list-style-type: disc;
        margin-left: 1.5rem;
      }

      ol {
        list-style-type: decimal;
        margin-left: 1.5rem;
      }

      li {
        margin-bottom: 5px;
      }
    </style>
  </body>
</html>
